<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-android-mdm"
	version="0.2.0">

	<name>Android for Work Configuration</name>
	<info>Cordova plugin to retrieve configuration from Android for Work as JSON</info>

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
		<engine name="cordova-android" version=">=7.0.0" />
	</engines>

	<asset src="www/androidmdm.js" target="js/androidmdm.js"/>

	<js-module src="www/androidmdm.js" name="androidmdm">
		<clobbers target="androidmdm" />
	</js-module>

	<!--
		copies files from one place to another within our project
		e.g. the app_restrictions.xml file mentioned below goes into platform/android/app/src/main/res/xml/
	-->
	<hook type="after_prepare" src="scripts/copy_files.js" />

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AndroidMDM">
				<param name="android-package" value="au.net.isw.androidmdm.AndroidMDM"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application/">
			<meta-data android:name="android.content.APP_RESTRICTIONS" android:resource="@xml/app_restrictions" />
		</config-file>

		<source-file src="src/android/AndroidMDM.java" target-dir="src/au/net/isw/androidmdm/"/>
	</platform>
</plugin>
