<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-android-mdm"
        version="0.0.1">

  <name>Android MDM Plugin</name>

	<engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/androidmdm.js" target="js/androidmdm.js"/>

  <js-module src="www/androidmdm.js" name="androidmdm">
    <clobbers target="androidmdm" />
  </js-module>
	<dependency id="cordova-plugin-settings-hook" version="0.2.3"  />
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AndroidMDM">
        <param name="android-package" value="au.net.isw.androidmdm.AndroidMDM"/>
      </feature>
    </config-file>

    <source-file src="src/android/AndroidMDM.java" target-dir="src/au/net/isw/androidmdm/"/>
  </platform>
</plugin>
